<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question 2</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="script.js" defer></script>
</head>
<body>

  <div class="header">
      Get to know your digital body
  </div>

  <div class="container">

      <h3> Can you tell us a bit more about yourself? How about your hobbies? (You need to mark at least one and a maximum of three) </ br>


      <div class="question1">
       <form action="/question6" method="post" >
            <br>
            <input type="radio" name="ethnicity" value="white" id="white" required> <label for="white"> White (not caucasian)</label> <br>
            <input type="radio" name="ethnicity" value="asian" id="asian" required> <label for="asian"> Asian </label> <br>
            <input type="radio" name="ethnicity" value="hispanic" id="hispanic" required> <label for="hispanic"> Hispanic/Latinx</label> <br>
            <input type="radio" name="ethnicity" value="african" id="african" required> <label for="african"> African descendant/African/Black </label> <br>
            <input type="radio" name="ethnicity" value="european" id="european" required> <label for="european"> European </label> <br>
            <input type="radio" name="ethnicity" value="chinese" id="chinese" required> <label for="chinese"> Chinese</label> <br>
            <input type="radio" name="ethnicity" value="indian" id="indian" required> <label for="indian"> Indian</label> <br>
            <input type="radio" name="ethnicity" value="arabic" id="arabic" required> <label for="arabic"> Arabic</label> <br>
            <input type="radio" name="ethnicity" value="nativeAmerican" id="nativeAmerican" required> <label for="nativeAmerican"> Native American</label> <br>
            <input type="radio" name="ethnicity" value="pacificIslander" id="pacificIslander" required> <label for="pacificIslander"> Pacific Islander</label> <br>
            <input type="radio" name="ethnicity" value="mixed" id="mixed" required> <label for="mixed"> Mixed</label> <br>
            <input type="radio" name="ethnicity" value="other" id="other" required> <label for="other"> Other</label> <br>

          <div><input type="submit" class="button" ></div>
        </form>

      </h3>


</div>




</body>
</html>
