<!DOCTYPE html>

<html>

<head>
    <title>Question 5</title>
</head>

<body>

    <div>
        <h1>Question 5</h1>
    </div>

    <div>
    <!-- -->
    
        <h3> <!-- <%= %> --> (LOCATION)? That's (NEAR/FAR). </ br>
            Do you identify as <!-- <%= %> -->?
        </h3>
        
        <h5>
            <a href="../tips/tip05.html">Uses of Location Data</a>
        </h5>
        
    </div>
    
    <div align=center>
        <a href="q04.html">Previous Question ||  </a>
        <a href="../index.html">Homepage  ||  </a>
        <a href="q06.html">Next Question</a>
    </div>
    
</body>

</html>