<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ads</title>
    <link rel="stylesheet" href="../styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!-- <script src="script.js" defer></script> -->
    <script src="../tunes/audio.js" defer></script>
</head>
<body>

  <div class="header">
      Get to know your digital body
  </div>

    <div class="container">
        <h3>
            Welcome <%= name%> ! Instruction on how to continue...
        </h3>

          <p>Once you answer a question, you'll get an ad based on your answer.
            After the ad, we will give you tips about how to handle your data and
            keep it safe. At the very end, we will present you with a small challenge </p>
          </br >
            <p> To go to the next section, always click the arrows that appear in this page.
              To submit your answer, you'll have to click submit every time a new question appear.</p>
          </br >
             <p> Good luck and we hope you enjoy it! </p>

      </div>

      <div class="container2">
          <div>
              <a href="../tips/tip1.html"><img src="../images/continue.png" alt="continue" height="100" width="200"></a>
          </div>
      </div>



</body>

    <audio autoplay hidden loop>
        <source src="media/thomas.mp3" type="audio/mpeg">
    </audio>
    
</html>
