html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    line-height: 1.2;
    cursor: pointer;
}

.page-container {
    position: relative;
    width: 100%;
    height: 100%;
}

p {
    margin: 0px;
}

.background-colour {
    position: absolute;
    background-image: none;
    left: 0px;
    top: 0px;
    background-color: rgb(0, 51, 0);
    height: 33%;
    width: 100%;
}

.ad {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 1;
    top: 0px;
    animation-name: ad-anim;
    animation-duration: 10s;
}

@keyframes ad-anim {
    0% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    65% {
        opacity: 1;
        animation-timing-function: ease;
    }
    100% {
        opacity: 1;
    }
}


.image1 {
    position: absolute;
    width: 100%;
}


.img-div {
    position: absolute;
    top: 5%;
    left: 27%;
    width: 46%;
    height: 55%;

}


/* .image2 {
    position: absolute;
    width: 33.33%;
    height: 40%;
    top: 60%;
    left: 106.6%;
    visibility: hidden;
}
.image3 {
    position: absolute;
    width: 33.33%;
    height: 40%;
    top: 60%;
    left: 146.6%;
    visibility: hidden;
} */


.headline-txt {
    position: absolute;
    font-family: Roboto;
    left: 5%;
    color: rgb(36, 36, 36);
    text-align: center;
    width: 90%;
    height: 10%;
    border-style: solid;
    top: 60%;
    border-width: 0px;
    font-size: 68px;
    font-weight: bold;
}
.subhead-txt {
    position: absolute;
    font-family: Roboto;
    left: 5%;
    width: 90%;
    color: rgb(36, 36, 36);
    text-align: center;
    border-style: solid;
    top: 70%;
    border-width: 0px;
    font-size: 55px;
    height: 8.5%;
}
.cta-div {
    position: absolute;
    left: 30.35%;
    top: 82%;
    width: 40%;
    height: 13.2%;
}
.cta-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
}


/* .button {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    cursor: pointer;
    border-radius: 3px;
    background-color: rgb(0, 51, 0);
    border: none;
    font-size: 45px;
    color: #f8f8f8;
    text-decoration: none;
} */

.intro {
    font-family: Roboto;
    line-height: normal;
    position: absolute;
    top: 45.5%;
    text-align: center;
    opacity: 0;
    color: rgb(36, 36, 36);
    font-size: 80px;
    left: 10%;
    width: 80%;
    height: 15%;
    animation-name: intro-anim;
}


.intro-1 {
    animation-duration: 2s;
}

.intro-2 {
    animation-duration: 2s;
    animation-delay:2s;
}
.intro-3 {
    animation-duration: 2s;
    animation-delay: 4s;
}


@keyframes intro-anim {
    0% {
        opacity: 0;
        animation-timing-function: ease;
    }
    24% {
        opacity: 1;
        animation-timing-function: ease;
    }
    90% {
        opacity: 1;
        animation-timing-function: ease;
    }
    100% {
        opacity: 0;
        animation-timing-function: linear;
    }
}